<!DOCTYPE html>
<html lang="en">

<html>

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/style.css">

	<title>Library Page : {{title}}</title>

</head>

<body>
        <header>
            <a href="/"><img src="/images/logo.jpg"></a>
            <nav>
                <ul>
                    <li>
						<form method="POST" action="/logout">
							<label id="logName">{{username}}</label>
							<button id="logOut" l>Log Out</label>
						</form>
					</li>
                </ul>
            </nav>
            <h4>abcda books </h4>
         </header>

		 <main>


<br>

<h1>Library Page </h1>

<br clear="all">

<br><br>

<article class="box1">
    <section id="books page">
            <form method="POST" action="/booklist">
            </form>
<label class="books" for="BOOKS" title="BOOKS">
					 《tomandjerry》 author tom &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
				<br clear="all">
<label class="books" for="BOOKS" title="BOOKS">
					 《THIS IS A BOOK LIST 》 author LIST  &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
<label class="books" for="BOOKS" title="BOOKS">
					 《MARKHAM》 author MARK &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
<label class="books" for="BOOKS" title="BOOKS">
					 《DONT GO ANYWHERE 》 author ANNY &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
<label class="books" for="BOOKS" title="BOOKS">
					 《SDRWGB》 author GHI &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
</label>
<label class="books" for="BOOKS" title="BOOKS">
					 《BOOK LIST 1 》 author KOLG &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
<label class="books" for="BOOKS" title="BOOKS">
					 《BOOK LIST 2》 author KOWLG &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
<label class="books" for="BOOKS" title="BOOKS">
					 《ANNY BOOKS 》 author JUMP &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
				</label>
<br clear="all">
</label>
<label class="books" for="BOOKS" title="BOOKS">
					 《HOW TO RUN 》 author RUN &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
</label>
<label class="books" for="BOOKS" title="BOOKS">
					 《HOW TO SWIM》 author SWIM &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
</label>
<label class="books" for="BOOKS" title="BOOKS">
					 《HOW TO JUMP 》 author JUMP &nbsp;&nbsp;&nbsp;<input type="checkbox" name="BOOK1" id="1111" value="tomand jerry by tom ">
				</label>
<br clear="all">
</label>
</div>
<br>
<br>
<br>
<br>
<button id="borrow" disabled="">borrow</button>
<button id="return" disabled="">return</button>
</div>
</article></main>
 
 

<article class="box2">
<br>
<br>

        </section>

</div>

</body>

</html>

</html>